<form method="post" action="{{ path('aspirante_delete', {'idAspirante': aspirante.idAspirante}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aspirante.idAspirante) }}">
    <button class="btn">Delete</button>
</form>
