{% extends 'base.html.twig' %}

{% block title %}Bienvenido!{% endblock %}

{% block body %}
    {% set usuarioInstitucion = app.session.get('usuarioInstitucion') %}

    <h4>Home principal del Responsable de la Institución!</h4>
    <hr style="border:0.5px solid #DDD;"/>

    <p style="font-size: 14px">Responsable: {{ usuarioInstitucion.getIdInstitucion().getIdInstitucion() }}  {{ usuarioInstitucion.getApellido() }}</p>

{% endblock %}
